.vscode/**
src/**
scraper/**
scripts/**
.agents/**
.docs/**
.debug/**
.antigravitycli/**
.github/**
node_modules/**
tsconfig.json
.gitignore
.repomixignore
.vscodeignore
repomix-output.xml
repomix.config.json
TODO.md
GEMINI.md
AGENTS.md
CLAUDE.md
.env*
eslint.config.*
**/*.map
assets/logo/**
dist/*
!dist/extension.js


